
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyFirstView</title>
</head>
<body>
    <div> 

        Hello This is my first view
        <br />

       
        <br />

        Name @ViewBag.CustomerData.CustomerName
        <br />
        Address @ViewBag.CustomerData.Address
        <br />
        Age @ViewBag.CustomerData.Age

    </div>
</body>
</html>
